.App {
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.links{
  color:rgb(49, 48, 48);
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.links:hover{
  text-decoration: none;
  
}

.flex-1 {
  flex: 1 1!important;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  flex-basis: 0% !important;
}
.comment-icon {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right!important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



